<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex,nofollow" />
    <link href="{{themedStylesUrl}}" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="{{faviconUrl}}" type="image/x-icon" />

    <title>{{pageTitle}}</title>
    {{{SignInWidgetResources}}}
  </head>
  <body>
    <div id="login-bg-image-id" class="login-bg-image tb--background"></div>
    <div id="okta-login-container"></div>

    {{{OktaUtil}}}
    <script type="text/javascript" nonce="{{nonceValue}}">
      /* %%HOSTED_SIGN_IN_CONTROLLER%% */
    </script>
  </body>
</html>
